In [2]:
import pandas as pd
from cassandra.cluster import Cluster

In [3]:
clstr = Cluster()
session = clstr.connect()

In [18]:
session.execute("DROP KEYSPACE IF EXISTS m14")

In [19]:
session.execute("CREATE KEYSPACE IF NOT EXISTS m14 WITH REPLICATION = {'class':'SimpleStrategy', 'replication_factor':2}")

In [20]:
session.execute("""
CREATE TABLE IF NOT EXISTS m14.inventory ( 
    SKU TEXT, 
    name TEXT, 
    description TEXT, 
    warehouse_num INT, 
    PRIMARY KEY(SKU)
);
""")

In [21]:
data = [('s1','p1', 'dairy product', 573),('s2','p2','electronics',813),('s3','p3', 'electronics', 573),('s4','p1','dairy product',600)]

In [26]:
data

[('s1', 'p1', 'dairy product', 573),
 ('s2', 'p2', 'electronics', 813),
 ('s3', 'p3', 'electronics', 573),
 ('s4', 'p1', 'dairy product', 600)]

In [22]:
for row in data:
    session.execute("""
    INSERT INTO m14.inventory (SKU, name, description, warehouse_num)
    VALUES(%s,%s,%s,%s)
    """,row)

In [23]:
session.execute("CREATE INDEX IF NOT EXISTS warehouse_index ON m14.inventory (warehouse_num)")

In [25]:
rows = session.execute("select (name,description) from m14.inventory where warehouse_num = 573 ALLOW FILTERING")
for row in rows:
    print(f"{row[0][0]}, {row[0][1]}")

p1, dairy product
p3, electronics